{% extends "_base.html" %}
{% block content %}

<a href="/apps/items/new">create new item</a>
{% if item_list %}
    <table class="table">
        <thead>
            <th></th>
            <th>name</th>
            <th>purchase count</th>
            <th>last purchased</th>
            <th>purchase interval</th>
            <th>next puchase</th>
        </thead>
        <tbody>
        {% for item in item_list%}
            <tr>
                <td>
                    <a href="/apps/items/{{ item.id}}/purchase/">
                        [purchase]
                    </a>
                </td>
                <td>
                    <a href="/apps/items/{{ item.id }}/">
                        {{ item.name }}
                    </a>
                </td>
                <td>{{ item.purchase_count }}</td>
                <td>{{ item.last_purchase_date }}</td>
                <td>{{ item.average_purchase_interval }}</td>
                <td>{{ item.next_purchase_date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>no items registered.</p>
{% endif %}

{% endblock %}
